.titulo{
    font-family: 'Bebas Neue', cursive;}
.precio{
    color: greenyellow;
}
.carousel-caption h5{
    color: red;
}
.carousel-caption p {
    color: greenyellow;
}

.carousel-caption h4{
    color: black;
}

.carousel-caption r{
    color: black;
}